/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./public/css/user.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
section.user_login_box__erLwA,
section.user_join_box__b4l71 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  input.user_user_input__ovzQo,
  button.user_user_button__P3Mrl {
    width: 300px;
    padding: 8px 12px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 8px;
  }

  button.user_user_button__P3Mrl {
    background-color: #999;
    color: white;
    &:hover {
      background-color: #777;
      cursor: pointer;
    }
  }
}

