.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.videoBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}
/*
*/
.videoIframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150vw;
  height: 84.375vw;
  transform: translate(-50%, -50%);
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .fs5x {
    font-family: "Black Han Sans", sans-serif;
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 3px 3px 4px black;
  }
  .fs1x {
    font-family: "Noto Serif KR", sans-serif;
    font-size: 1.5rem;
    text-shadow: 3px 3px 4px black;
    margin-top: -10px;
    margin-bottom: 15px;
  }
  .fs_small {
    font-family: "Noto Serif KR", sans-serif;
    text-shadow: 3px 3px 4px black;
    font-size: 1.3rem;
    margin-top: -10px;
    margin-bottom: 10px;
  }

  div.buttons {
    display: flex;
    gap: 5px;
    align-items: center;
    button.login_icon,
    button.join_icon,
    button.google_icon,
    button.naver_icon,
    button.logout_icon,
    button.chart_icon,
    button.mypage_icon {
      cursor: pointer;
      border: none;
      box-shadow: 0 0 5px 2px white;
      border-radius: 5px;
      color: white;
      background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(71, 71, 124));
      width: 40px;
      height: 40px;
      position: relative;
    }
    div.google_icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 21px;
      height: 21px;
      background-image: url(../images/google-icon.png);
      background-size: cover;
      background-position: center;
    }
    div.naver_icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 32px;
      height: 32px;
      background-image: url(../images/naver-icon.png);
      background-size: cover;
      background-position: center;
    }
  }
}
