section.stock.main {
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.stock.list {
  height: 100%;
  ul {
    height: 80%;
    overflow-y: auto;
  }
}
