/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./public/css/BackgroundVideo.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.BackgroundVideo_container__ACubF {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.BackgroundVideo_videoBackground__UIvGD {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.BackgroundVideo_videoIframe__5cr0M {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150vw;
  height: 84.375vw;
  transform: translate(-50%, -50%);
}

.BackgroundVideo_content__wgCR8 {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .BackgroundVideo_fs5x__zSwPY {
    font-family: "Black Han Sans", sans-serif;
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 3px 3px 4px black;
  }
  .BackgroundVideo_fs3x__GToA4 {
    font-family: "Gowun Dodum", sans-serif;
    font-size: 3rem;
    text-shadow: 3px 3px 4px black;
  }

  div.BackgroundVideo_buttons__Er7Nz {
    display: flex;
    gap: 5px;
    button.BackgroundVideo_login_icon__loa1q,
    button.BackgroundVideo_join_icon__B9Sfo,
    button.BackgroundVideo_google_icon__m3D6g,
    button.BackgroundVideo_naver_icon__0knKe {
      cursor: pointer;
      border: none;
      box-shadow: 0 0 5px 2px white;
      border-radius: 5px;
      color: white;
      background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(71, 71, 124));
      width: 40px;
      height: 40px;
      position: relative;
    }
    div.BackgroundVideo_google_icon__m3D6g {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 21px;
      height: 21px;
      background-image: url(/_next/static/media/google-icon.0f6a48b9.png);
      background-size: cover;
      background-position: center;
    }
    div.BackgroundVideo_naver_icon__0knKe {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 32px;
      height: 32px;
      background-image: url(/_next/static/media/naver-icon.3cb60d01.png);
      background-size: cover;
      background-position: center;
    }
  }
}

